*{
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../IMG/planodefundo.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  font-family:sans-serif;
  

}

#titulo{
  text-align:center;
  color:brown;
}

#MenuH{
  list-style: none;
  padding: 0;
  background-color:#285a85;
  color:white;

  
}

#MenuH li{
  display:inline;

}


#MenuH li a {
  color:white;
  text-decoration:none;
  padding:20px;
  display:inline-block;
  transition: background .2s;
}

#MenuH li a:hover{
  background-color:rgb(97, 133, 192);

}

#titulo {
  padding: 10px;
}

#ResumoFotos{
  background-color black;
}

#zelda1{
  width:350px;
  height:200px;
  margin-left:90px;
}

#zelda2{
  width:350px;
  height:200px;
  margin-left:90px;
}

#zelda3{
  width:350px;
  height:200px;
  margin-left:90px;
}
